<h4><a class="brand" href="{{ site.baseurl }}/"><span>{{ site.title }}</span></a>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Flyspray Banner -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1201923297792693"
     data-ad-slot="5099907166"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

    {% if site.subtitle %}<small>{{ site.subtitle }}</small>{% endif %}
    <div style="float:right; padding-top: 30px; font-size: 12px; font-weight: normal">Sponsored by 
    <b><a href="https://www.thevelozgroup.com">The Veloz Group</a></b>
</div>
</h4>
