<ul class="nav nav-list">
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}
        {% assign links = section[2] %}
        {% assign header = false %}

        {% assign pages = [] %}
        {% assign sorted_pages = site[attr] %}
        {% if sorted_pages %}
            {% assign pages = sorted_pages | sort: 'order' %}
        {% endif %}
        {% for page in pages %}
            {% if page.order >= 0 %}
                {% if header == false %}
                    {% assign header = true %}
                    <li class="nav-header">{{ label }}</li>
                {% endif %}
                <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
        
        
        {% for link in links %}
            {% if header == false %}
                <li class="nav-header">{{ label }}</li>
            {% endif %}
            <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
        {% endfor %}
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class=divider></li> first to break up the content. -->
</ul>
<br/>
<br/>

<!-- Flyspray.org Nav -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1201923297792693"
     data-ad-slot="4636758769"
     data-ad-format="auto"></ins>
<!-- 
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->
